frontend.old

movie-review-backend-express/node_modules/
movie-review-backend-express/dist/
movie-review-backend-express/build/

movie-review-frontend/node_modules/
movie-review-frontend/dist/
movie-review-frontend/build/
movie-review-frontend/.next/